{
  "presets": [
    "next/babel",
    "stage-0"
  ],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".css"
       ]
    }],
    ["module-resolver", {
      "root": [
        "."
      ],
      "alias": {
        "styles": "./styles"
      },
      "cwd": "babelrc"
    }],
    ["wrap-in-js", {
      "extensions": [
        "css$",
        "scss$"
      ]
    }],
    "inline-react-svg"
  ]
}
