input {
  border: 1px solid $border-color;
  border-radius: 3px;
  display: block;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1em;
  margin: 0.2em 0 0.5em;
  padding: 0.3em 0.4em;
}

input[type='submit'] {
  box-shadow: 0 .03em .25em rgba(0, 0, 0, 0.2);
  color: $white;
  font-size: 1em;
  background: darken($rover-color, 10%);
  border-radius: 5px;
  padding: 0.8em 1em;
  text-transform: uppercase;

  &:hover {
    background: darken($rover-color, 20%);
  }
}

label {
  display: block;
  margin-bottom: 0.5em;
}

legend {
  font-size: 1em;
  font-weight: 700;
}

fieldset {
  border: none;
  margin: 0;
  padding: 10px 0;
}
