@import 'partials/variables.scss';
@import 'partials/forms.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  color: $primary-color;
  font-family: 'Lato', Arial, sans-serif;

  @media only screen and (min-width: 800px) {
    background: linear-gradient(to right,#95c194 0%,#78a064 49%,#5e7b49 100%);
  }
}


img {
  display: block;
  max-width: 100%;
}

p {
  line-height: 1.4;
}

.wrapper {
  @media only screen and (min-width: 800px) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.wrapper--icon {
  display: flex;
  align-items: center;
  background-color: white;
  height: 100%;
}

.global-header {
  background: $white;
  border-bottom: 1px $header-border-color;
  overflow: hidden;
  padding: 0.3em;

  .rover-logo {
    width: 120px;
    height: auto;
    max-width: 100%;
  }
}

.icon--loading {
  display: block;
  margin: 0 auto;
}

.content {
  padding: 1em;
  max-width: 100%;
  @media only screen and (min-width: 800px) {
    display: flex;
    margin: 2em auto;
    max-width: 1200px;
  }
}

.search-container {
  background: $form-background-color;
  padding: 1em 2em;

  @media only screen and (min-width: 800px) {
    border-radius: 3px;
    box-shadow: $shadow;
    flex: 0 0 300px;
    max-height: 500px;
  }
}

.error--no-results {
  display: block;
  font-size: 1.2em;
  margin: 3em;
}

.search-results {
  background: $white;
  margin-top: 2em;

  @media only screen and (min-width: 800px) {
    border-radius: 3px;
    box-shadow: $shadow;
    flex: 1 0 500px;
    margin: 0 0 0 3em;
    padding: 2.5em 1em;
  }
}

.search-results__list {
  margin: 0;
  padding: 0;

  @media only screen and (min-width: 800px) {
    padding-left: 3em;
  }

  li {
    display: flex;
    list-style: none;
    margin-bottom: 2.5em;
  }

  span {
    display: block;
  }
}

.person__image {
  display: block;
  max-width: 100px;
  width: auto;

  @media only screen and (min-width: 800px) {
    max-width: 140px;
  }
}

.person__details {
  color: $details-color;
  padding: 0 1em;
  position: relative;
  text-transform: capitalize;
}

.person__location {
  font-weight: 300;
  margin-bottom: 0.6em;
}

.person__name {
  font-size: 1.4em;
  margin-bottom: 0;

  @media only screen and (min-width: 800px) {
    font-size: 1.6em;
  }
}

.person__brief {
  margin-bottom: 0.2em;
}

.person__price {
  margin-top: 1em;
  display: inline;

  @media only screen and (min-width: 800px) {
    margin-top: 0;
    position: absolute;
    bottom: 0px;
  }

  .person__price--dollars {
    display: inline;
    font-size: 1.2em;

    @media only screen and (min-width: 800px) {
      font-size: 1.3em;
    }
  }
}

.sitter-profile {
  background: $white;
  margin-top: 2em;

  @media only screen and (min-width: 800px) {
    border-radius: 3px;
    box-shadow: $shadow;
    flex: 1 0 500px;
    padding: 2.5em 1em;
  }
}

.sitter-profile__image {
  margin-bottom: 1em;
}

.sitter-profile__reviews {
  font-size: 1.1em;
}
