@import 'normalize.css';

// Colors
$primary-color: #333333;
$error-color: #ff5252;
$border-color: #aeaeae;
$form-background-color: #d4d4d4;
$header-border-color: #ececec;
$details-color: #696969;
$rover-color: #77c045;
$white: #ffffff;
$light-gray: #9e9e9e;
